a {
    color: DarkCyan;
}
.button, input[type="submit"] {
    background-color: DarkCyan;
}
.button:hover, input[type="submit"]:hover {
    background-color: SlateGrey;
}
.warning {
    color: #cc0000;
}
.tintbox.warning {
    background-color: #cc0000;
    color: #fff;
}