ul.darline-autocomplete {
    position: absolute;
    background-color: white;
    z-index: 1000;
    box-shadow: 0 4px 9px #999999;
}
.darline-autocomplete li {
    height: 56px;
    line-height: 28px;
    padding: 14px;
}
.darline-autocomplete li.on {
    background-color: SeaGreen;
    cursor: pointer;
}
.darline-multiresult li {
    width: 100%;
    background-color: #e5e5e5;
    border-radius: 2px;
    padding: 7px;
    color: #464646;
}
.darline-multiresult li + li {
    margin-top: 7px;
}
.darline-multiresult li .close {
    float: right;
    cursor: pointer;
}
