.darline-grid-container {
    margin-bottom: 0;
    display: none;
}
#darline-grid {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 2000;
    overflow: hidden;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    border-right: 1px solid chocolate;
}
.darline-grid-col {
    border-left: 1px solid chocolate;
    height: 100%;
}
.darline-grid-col:hover {
    background-color: chocolate;
    opacity: 0.6;
}
.col.darline-grid-col {
    margin-left: 0; 
}
#darline-toolbox {
    position: absolute;
    top: 20px;
    left: 0;
    box-shadow: 0 1px 7px #999999;
    cursor: pointer;
    z-index: 2001;
    background-color: #fff;
}
.toggle-grid {
    background-image: url('../img/grid.png');
}
#darline-toolbox a {
    display: none;
    height: 24px;
    width: 24px;
    padding: 4px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
#darline-toolbox.on a {
    display: block;
}
#darline-toolbox a.toggle-toolbox {
    width: 24px;
    min-height: 24px;                
    background-image: url('../img/toolbox.png');
    display: block;
}